# github.com/becheran/go-testreport

> 标签: becheran, com, github.com, go, go-testreport, golang

## 简介

Go module，由 index.golang.org 收录：github.com/becheran/go-testreport。

Go 语言目前为大版本 1.x；本库收录于 go-v1。

## 官网

- Go 文档：https://pkg.go.dev/github.com/becheran/go-testreport
- 源码仓库：https://github.com/becheran/go-testreport

## 历史版本号

- 当前版本：v0.3.2

- v0.1.0
- v0.1.1
- v0.2.0
- v0.2.1
- v0.2.2
- v0.3.0
- v0.3.1
- v0.3.2

## 获取地址

- go mod 下载：`go get github.com/becheran/go-testreport@v0.3.2`
- 模块代理：https://proxy.golang.org/github.com/becheran/go-testreport/@v/list
